<h3>ListSquare</h3>

<h5>@TitleList</h5>
<ul>
    @foreach(var i in Items)
    {
        <li>@i</li>
    }
</ul>

@code {
    [Parameter]
    public string TitleList { set; get; } = "";

    [Parameter]
    public List<string> Items { get; set; } = new List<string>();

}
